<div class="row">
  <div class="col-md-12">
    <h1 class="text-muted">{{counter}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input (click)="clk(1)" type="button" class="btn btn-primary" value="Plus">
    <input (click)="clk(2)" type="button" class="btn btn-primary" value="Minus">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
    </div>
  </div>
</div>